PyPDF2
torch
textblob
nltk
spacy
nltk==3.7
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
spacy>=3.0.0,<4.0.0
numpy
genanki
transformers==4.18.0

