# Prefer CPU torch wheel
-f https://download.pytorch.org/whl/cpu

# Core app
streamlit>=1.36,<1.41

# Data & math
pandas>=2.1,<2.4
numpy>=1.26,<2.2
scipy>=1.11,<1.14

# Viz
matplotlib>=3.8,<3.10
seaborn>=0.13,<0.14

# ML & DR
scikit-learn>=1.3,<1.6
umap-learn>=0.5.5,<0.6
hdbscan>=0.8.33,<0.9
kmodes>=0.12.2,<0.13

# Embeddings (MiniLM works without sentencepiece)
sentence-transformers>=3.0,<3.2
transformers>=4.41,<4.46
tqdm>=4.66,<5
torch==2.4.1
